<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Roster</title>

    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <a th:href = "@{/showNewFilmForm}"> Add Film </a>
    <h1>Film List</h1>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=filmName&sortDir=' + ${reverseSortDir}}">
                    Film Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=directorName&sortDir=' + ${reverseSortDir}}">
                    Director Name </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=runtime&sortDir=' + ${reverseSortDir}}">
                    Runtime </a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="film : ${listFilms}">
            <td th:text="${film.filmName}"></td>
            <td th:text="${film.directorName}"></td>
            <td th:text="${film.runtime}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${film.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteFilm/{id}(id=${film.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]

            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                    </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>