<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Film Roster</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="background-color:#262730">
<div class="container">
    <h1 style="color:#FEF6C9">New Film</h1>
    <hr>

    <!--/*@thymesVar id="film" type=""*/-->
    <form action="#" th:action="@{/saveFilm}" th:object="${film}"
          method="POST">
      <div>
        <label style="color:#FEF6C9">Film Name:</label>
        <input type="text" th:field="*{filmName}"
             placeholder="Ex: Scream" class="form-control mb-4 col-4">
      </div>
      <div>
        <label style="color:#FEF6C9">Director:</label>
        <input type="text" th:field="*{directorName}"
             placeholder="Ex: Wes Craven" class="form-control mb-4 col-4">
      </div>
      <div>
        <label style="color:#FEF6C9">Runtime:</label>
        <input type="text" th:field="*{runtime}"
             placeholder="Ex: XX:XX:XX" class="form-control mb-4 col-4">
      </div>

      <button type="submit" class="btn btn-secondary btn-lg" style="background-color:#D4DFC7"> Save Film</button>
    </form>

    <hr>

    <a th:href = "@{/}" class="btn btn-secondary btn-lg"> Back to Unwatched Film List</a>
</div>
</body>
</html>