<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Film Roster</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="background-color:#262730">
<div class="container">
    <h1 style="color:#FEF6C9">Please Rate the Film</h1>
    <hr>

    <form action="#" th:action="@{/updateRating}" th:object="${film}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />


        <input type="hidden" th:field="*{filmName}">

        <input type="hidden" th:field="*{directorName}">

        <input type="hidden" th:field="*{runtime}">

        <input type="number" th:field="*{rating}" min="0" max="5" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-secondary btn-lg" style="background-color:#D4DFC7"> Update Rating</button>
    </form>

    <hr>

    <a th:href = "@{/}" class="btn btn-secondary btn-lg"> Back to Unwatched Film List</a>
    <a th:href = "@{/showWatchedFilms}" class="btn btn-secondary btn-lg"> Go to Watched Film List</a>
</div>
</body>
</html>